/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #11678e, #167cac); /* emerald */
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.3s;
}

.navLinks a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.navLinks a:hover::after {
  width: 100%;
}

.logoutButton {
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.logoutButton:hover {
  background: white;
  color: #93d6af;
}
